	</div>	
</div>
<div class="footer">
		<div class="layout">
			<div class="wrapper">
				<p><span>About Me:</span> 文能定规范撩妹纸，武能带项目敲代码，除了没有女朋友，其他都是满分，哈哈哈哈哈哈哈哈</p>
				<p><span>Email:</span> <a href="zengyuanman123@163.com">zengyuanman123@163.com</a></p>
				<p><span>&copy; 2015-1016</span> <a href="https://github.com/zengyuanman" target="_blank">GitHub</a></p>
				<p><span>微信:</span> <span>weiber520</span></p>
				<p><span>手机:</span> <span>o(╯□╰)o</span></p>
				<div>
					<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260877770'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1260877770%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
				</div>
			</div>
		</div>
	</div>
</body>
</html>